<h1>Listing run_histories</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Avg duration</th>
      <th>Avg distance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @run_histories.each do |run_history| %>
      <tr>
        <td><%= run_history.user_id %></td>
        <td><%= run_history.avg_duration %></td>
        <td><%= run_history.avg_distance %></td>
        <td><%= link_to 'Show', run_history %></td>
        <td><%= link_to 'Edit', edit_run_history_path(run_history) %></td>
        <td><%= link_to 'Destroy', run_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run history', new_run_history_path %>
