<h1>Listing runs</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Duration</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= time_ago_in_words(run.created_at) -%> ago</td>
        <td><%= run.distance %></td>
        <td><%= run_duration(run) %></td>
        <td><%= run.comments %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Edit', edit_run_path(run) %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Run', new_run_path %>
